*{
    box-sizing: content-box
}
/*Global*/
.container{
    width: 90%;
    margin: 0 3% 0 3%;
    padding: 0;
}
body{
    background-color: #f4f4f4;
    font: 17px/1.5 Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
ul{
    margin: 0;
    padding: 0;
}

/*Header*/
header{
    background-color: #00003a;
    color: #fff;
    padding: 10px;
    border-bottom: #FF8C00 solid 9px; 
}
#brand span{
    color: #FF8C00;
}
#brand h2{
    font-size: 75px;
    text-align: center;
}
#brand #slogan{
    color: #fff;
    font-size: 10px;
    display: block;
    position: relative;
    bottom: 31px;
    left: 34px;
}
header nav{
    text-align: center;
}
header li{
    display: inline;
    padding: 20px;
}
header a{
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
}
/*About us*/
#about{
    background: url(../images/banking-lights.jpg) no-repeat -20px -20px;
    color: #fff;
    margin: 0;
    padding: 35px 0 200px 0;
    border-bottom: #FF8c00 solid 7px;
}
#about h2{
    text-align: center;
    text-transform: uppercase;
    margin: 30px 0 0 0;
}
#about span{
    color: #FF8C00;
    border-bottom: #FF8C00 solid 4px;
}
#about p{
    font-size: 23px;
    width: 90%;
    margin: 20px 10% 0 8%;
    text-align: justify;
}
/*Services*/
#services{
    background-color: #00003a;
    color: #fff;
    padding: 35px;
    margin: 0;
    border-bottom: #ff8c00 solid 7px;
}
#services #s_header{
    text-align: center;
    text-transform: uppercase;
}
#s_header span{
    color: #ff8c00;
    border-bottom: #ff8c00 solid 4px;
}
#services #offer-title{
    font-size: 15px;
    margin: 40px 0 0 0;
}
#services #offer-header{
    padding: 11px;
    font-size: 29px;
    background-color: #ff8c00;
    display: inline;
    border-top-right-radius: 15px;
    border-left: #fff solid 10px;
    color: #00003a;
}
#services #offer{
    width: 30%;
    margin: 0 4px 0 0;
    padding: 30px;
    border: 1px solid #f4f4f4;
    border-radius: 4px;
    box-shadow: 1px 1px 2px 1px rgba(255,255,255, 3)
}
#services #flex_offer{
    display: flex;
    width: 100%;
    margin: 10px 0 0 20px;
    padding: 0;
}

/*Contact us*/
#contact{
    background: url(../images/banking-transformation.jpg) no-repeat 0 -30px;
    padding: 35px 0 40px 0;
    border-bottom: #ff8c00 solid 7px;
    color: #fff;
}
#contact #flex-c_c{
    display: flex;
    margin: 0 0 0 7%;
}
#contact #c_c{
    width: 50%;
    margin: 0 20px 20px 0;
    background-color: #00003a;
    padding: 0 0 20px 0;
    border-top-right-radius: 50px;
    border-bottom: #ff8c00 solid 10px;
}
#c_c h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 19px;
}
#c_c span{
    color: #ff8c00;
    border-bottom: #ff8c00 solid 4px;
}
#c_c form{
    width: 90%;
    margin: 10px 0 0 15%;
    padding: 0;
}
#c_c label{
    display: block;
    color: #ff8c00;
    font-weight: bolder;
    margin: 10px 0 0 0;
}
#c_c input,
     textarea
{
    padding: 10px;
    width: 80%;
    font-size:12px; 
}
#c_c button{
    text-transform: uppercase;
    padding: 10px;
    width: 80%;
    font-size: 14;
    cursor: pointer;
    color: #fff;
    border: none;
    background-color: #ff8c00;
    border-radius: 5px;
}
/*Signup*/
#signup{
    background-color: #00003a;
    color: #fff;
    border-bottom: #ff8c00 solid 5px;
    margin: 0;
    padding: 35px 0 0 0;
}
#signup h2{
    text-align: center;
    text-transform: uppercase;
}
#signup_h span{
    color: #ff8c00;
    border-bottom: #ff8c00 solid 3px;
}
#signup form{
    width: 30%;
    margin: 20px 25% 20px 35%;
}
#signup label{
    display: none;
    margin: 10px 0 0 0;
}
#signup input{
    display: block;
    padding: 5px;
    height: 30px;
    width: 97%;
    font-size: 14px;
    margin: 9px 0 0 0 ;
}
#signup input[id="terms"]{
    display: inline;
    position: relative;
    top: 10px;
    width: 12px;
    margin: 0 6px 0 0;
    padding: 0;
}
#signup p{
    font-size: 12px;
}
#signup a{
    color: #ff8c00;
    text-decoration: none;
}
#signup button{
    padding: 5px;
    height: 30px;
    width: 97%;
    margin: 9px 0 0 0;
    font-size: 13px;
    color: #fff;
    cursor: pointer;
    background-color: #ff8c00;
    border:  none;
    border-radius: 3px;
    text-transform: uppercase;
}
/*User Login*/
#login{
    background-color: #00003a;
    color: #fff;
    border-bottom: #ff8c00 solid 5px;
    margin: 0;
    padding: 35px 0 80px 0;
}
#login h2{
    text-align: center;
    text-transform: uppercase;
}
#login_h span{
    color: #ff8c00;
    border-bottom: #ff8c00 solid 3px;
}
#login form{
    width: 30%;
    margin: 20px 25% 20px 35%;
}
#login label{
    display: none;
    margin: 10px 0 0 0;
}
#login input{
    display: block;
    padding: 5px;
    height: 30px;
    width: 97%;
    font-size: 14px;
    margin: 9px 0 0 0 ;
}
#login button{
    padding: 5px;
    height: 30px;
    width: 97%;
    margin: 9px 0 0 0;
    font-size: 13px;
    color: #fff;
    cursor: pointer;
    background-color: #ff8c00;
    border:  none;
    border-radius: 3px;
    text-transform: uppercase;
}
/*Footer*/
footer{
    padding: 70px;
}
footer p{
    color: grey;
    font-size: 13px;
    text-align: center;
    margin: 0;
    padding: 0;
}
#user_dashboard_h h2{
    text-align: center;
    font-size: 70px;
}
#user_dashboard_h #slogan{
    display: block;
    font-size: 10px;
    color: #fff;
    position: relative;
    bottom: 29px;
    left: 30px;
}
#user_dashboard_h span{
    color: #ff8c00;
}
/*User Profile*/
#user_profile{
    float: left;
    padding:10px;
    margin: 0 0 0 3px;
    width: 20%;
    height: 550px;
    background-color: #00003a;
    border-radius: 5px;
}
#profile_img #user_dp{
    width: 100%;
    border-radius: 50%;
    margin-bottom: 0;
    padding-bottom: 0;
}
#profile_img #t_c{
    width: 20%;
    position: relative;
    bottom: 70px;
    left: 134px;
    background-color: #f4f4f4;
    padding: 0;
    border-radius: 50%;
    cursor: pointer;
}
#user_profile a{
    color: #00003a;
    text-decoration: none;
    font-weight: bolder;
}
#user_profile li{
    background-color: #ff8c00;
    margin: 0 0 11px 0;
    padding: 11px;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
}
#user_profile li:hover{
    background-color: #f4f4f4;
}

/*Profile Body*/
#profile_body{
    float: right;
    width: 78%;
}
#search label{
    display: block;
    font-size: 10px;
}
#profile_body #search{
    margin: 0 0 0 65%;
    padding: 10px;
}
#search input{
    padding: 10px;
    height: 10px;
}
#search button{
    padding: 7px;
    height: 16px;
    color: #fff;
    border: none;
    background-color: #ff8c00;
    cursor: pointer;
    border-radius: 3px;
}
/*Dashboard Pages*/
#profile_body #pages{
    margin: 0;
    padding: 0;
    height: auto;
}
#pages h3{
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 12px;
    color: grey;
}
#p_body h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    color: grey;
}
#p_body h2 span{
    color: #ff8c00;
}

#p_body form{
    width: 55%;
    margin: 0 0 0 22%;  
}
#p_body label{
    display: block;
    color: grey;
    font-weight: bold;
    font-size: 15px;
    margin: 0 0 7px 7%;
}
#p_body input[type="radio"]{
    display: inline;
    width: 12px;
    margin: 0;
    position: relative;
    top: 9px;
}
#p_body #account_id{
    text-align: center;
    font-size: 10px;
    color: grey;
}
#p_body input, select{
    display: block;
    width: 80%; 
    padding: 5px;
    height: 25px;
    margin: 0 0 0 7%;
    border: 1px solid grey;
    background-color: #fff;
    color: grey;
    border-radius: 5px;
    font-size: 17px;
}
#p_body button{
    margin: 3% 0 0 7%;
    cursor: pointer;
    padding: 5px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #ff8c00;
    height: 25px;
    width: 80%;
    
}
#serve{
    margin: 0 0 0 7%;
}
#serve span{
    font-size: 10px;
}
#serve #serve_h{
    font-size: 15px;
    font-weight: bold;
    color: grey;
    margin: 10px 0 0 0
}
#p_body #terms{
    margin: 0 0 7px 7%;
    display: inline;
    width: 13px;
}
#p_body #terms_txt{
    font-size: 10px;
    position: relative;
    bottom: 10px;
}
#p_body #terms_txt a{
    text-decoration: none;
    color: #ff8c00;
}
/*Settings*/
#settings h2{
    text-align: center;
    text-transform: uppercase;
    color: grey;
    font-size: 18px;
}
#settings h2 span{
    color: #ff8c00;
}
#settings label{
    display: block;
    font-size: 13px;
    font-weight: bold;
    color: grey;
    margin: 0 0 10px 15%;
}
#settings input{
    width: 70%;
    padding: 4px;
    height: 23px;
    margin: 0 0 0 15%;
}
#settings form{
    width: 50%;
    margin: 0 0 0 25%;
}
#settings button{
    display: block;
    cursor:pointer;
    width: 70%;
    padding: 4px;
    height: 23px;
    border: none;
    border-radius: 4px;
    margin: 10px 0 0 15%;
    background-color: #ff8c00;
    color: #fff;
    font-weight: bolder;
    text-transform: uppercase;
}
/*Media query - To aid responsiveness*/
/*Max width 769px*/
@media(max-width: 769px){
    #about h2{
        font-size: 20px;
    }
    #about p{
        font-size: 18px;
        width: 90%;
        margin: 20px 10% 0 8%;
        text-align: justify;
    }
    #services h2{
        font-size: 20px;
    }
    #services #flex_offer{
        margin: 0;
        padding: 0;
    }
    #services #offer-header{
        padding: 8px;
        font-size: 20px;
}
    #services #offer{
        width: 90%;
        margin: 0 10px 0 5px;
    }
    #offer p{
        font-size: 14px;
    }
    #contact h2{
        font-size: 15px;
    }
    #contact form{
        margin: 0 0 0 30px;
    }
    #signup h2{
        font-size: 20px;
    }
    #signup form{
        width: 60%;
        margin: 0 0 0 22%;
        padding: 0 0 20px 0;
    }
}

/*Max-width 426px*/
@media(max-width: 426px){
    #services h2{
        font-size: 20px;
    }
    #services #flex_offer{
        display: block;
    }
    #services #offer-header{
        padding: 8px;
        font-size: 20px;
    }
    #services #offer{
        margin: 10px 0 10px 0;
    }
    #offer p{
        font-size: 14px;
    }
    #contact h2{
        font-size: 20px;
    }
    #contact form{
        margin: 0 0 0 30px;
    }
    #contact #flex-c_c{
        display: block;
    }
    #contact #c_c{
        width:100%;
    }

}
/*Max-width 378px*/
@media(max-width: 378px){
    #about p{
        font-size: 15px;
    }
    #services h2{
        font-size: 20px;
    }
    #services #flex_offer{
        display: block;
    }
    #services #offer-header{
        padding: 8px;
        font-size: 20px;
    }
    #services #offer{
        margin: 10px 0 10px 0;
    }
    #offer p{
        font-size: 14px;
    }
    #contact h2{
        font-size: 20px;
    }
    #contact form{
        margin: 0 0 0 30px;
    }
    #contact #flex-c_c{
        display: block;
    }
    #contact #c_c{
        width:100%;
    }

}

/*Media query responsiveness for Login.html*/
/*Max-width 1025px*/
@media(max-width: 1025px){
    #login form{
        width: 50%;
        margin: 20px 25% 20px 27%;
    }
}
/*Max-width 769px*/
@media(max-width: 769px){
    #login form{
        width: 50%;
        margin: 20px 25% 20px 26%;
    }
}
/*Max-width 426*/
@media(max-width: 426px){
    #login form{
        width: 80%;
        margin: 20px 25% 20px 15%;
    }
    header li a{
        font-size: 12px;
    }
}


/* View_all Table style for all accounts*/
#all_trans_table th{
    margin: 0 0 0 10px;
    border: 1px solid #000;
    font-size: 13px;
    color: grey;
}
#all_trans_table td{
    text-align: center;
    font-size: 13px;
    color: grey;
}
#all_trans_table{
    width: 90%;
    margin: 0 0 0 4%;
   
}
#all_trans_table a{
    text-decoration: none;
    color: #ff8c00;
}



































